.scrool:hover{
    overflow: auto;
    overflow-x: hidden;
}

.scrool{
    overflow: hidden;
}

.bg_color{
    background-color: #00ade9;
}

.logo_menu{
    border-radius: 10px;
    height: 55px;
    width: 55px;
}

.btn_color{
    background-color: #67c473;
}

.img_size{
    height: 55px;
    width: 55px;
}

.logo_space{
    margin-right: 5px;
}

body{
    height: auto;
}

.footer_style{
    position: fixed;
    margin-bottom: 0%;
    padding-bottom: 0px;
    bottom: 0px;
    position: relative;
    margin-top: 20px;
}
