.scrool:hover{
    overflow: auto;
    overflow-x: hidden;
}

.scrool{
    overflow: hidden;
}

.bg_color{
    background-color: #00ade9;
}

.logo_menu{
    border-radius: 10px;
    height: 55px;
    width: 55px;
}

.btn_color{
    background-color: #67c473;
}

.img_size{
    height: 120px;
    width: 150px;
}

.logo_space{
    margin-right: 20px;
}
